@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    background-color: #171717 !important;
    color: white;
    font-family: Nunito;
}

.bg-dark {
    background-color: #232323 !important;
}

.hero-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/hero-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation-delay: 0.5s !important;
    animation: hero-img-drop 2s ease-in-out forwards;
    height: 0;
    overflow: hidden;
}

@keyframes hero-img-drop {
    from { height: 0; }
    to { height: 60vh; }
}

.action-btn {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    right: 10px;
    border-radius: 25px;
    font-size: 1.5em;
    background-color: #171717 !important;
    transition: all 0.5s ease-in-out;
}

.action-btn:hover {
    right: 15px;
}

.btn-add {
    top: calc(50% - 62.5px);
}

.btn-view {
    top: calc(50% + 12.5px);
}

.btn-dark {
    background-color: #232323 !important;
}

.form-control {
    border-color: #fff;
    background-color: #333;
    color: white;
    transition: all 0.5s ease-in-out;
}

::placeholder {
    color: #171717;
    opacity: 1;
}
  
:-ms-input-placeholder {
    color: #171717;
}
  
::-ms-input-placeholder {
    color: #171717;
}

.form-control:hover {
    background-color: #171717;
}

.form-control:focus {
    background-color: #171717;
}

.btn-save {
    border-color: #fff;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.btn-save:hover {
    background-color: #171717 !important;
    color: #aaa;
    border-color: #fff;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.blog-body {
    border-radius: 0px !important;
}

.blog-input-group {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}